form {
  margin-top: 5rem;
  text-align: center;
} 

#username, #email, #password, #repeat_password {
  border: 2px solid #0b926a;
  border-radius: 1rem;
  text-align: center;
  width: 14em;
  transition: 250ms;
}

#username:hover, #email:hover, #password:hover, #repeat_password:hover {
  width: 16em;
}

#username:active, #email:active, #password:active, #repeat_password:active {
  border-color: darkgreen;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-top: 0.75rem;
  margin-right: 0.5rem;
}

#submit {
  background: none;
  border: none;
  font-weight: bold;
  border-radius: 1rem;
  width: 7rem;
  margin-bottom: 1rem;
  transition: 250ms;
}

#submit:hover {
  color: darkslategray;
}

.alternate-login {
  color: black;
  font-weight: bold;
  transition: 250ms;
}

.alternate-login:hover {
  color: darkslategray;
  text-decoration: none;
}