header {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;

}

/* Navigation Bar */
nav {
  padding: 1%;
  text-align: right;
}

.nav-bar {
  list-style: none;
  padding: 0;
  margin: 0 5% 0 0;
}

header a {
  color: #2c2d30;
  text-decoration: none;
  transition: 250ms;
}

header a:hover {
  text-decoration: none;
  color: grey;
}

.nav-bar li {
  display: inline;
  letter-spacing: 0.025em;
  font-weight: 400;
  font-size: 1em;
  margin: 1%;
}
