header {
  background-color: white;
  padding-bottom: 71px; /* Prevent fixed nav-bar from overlapping */
  font-size: 1rem;
}

/* Navigation Bar */
.navbar {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px; /* Navbar static size */
}

header a {
  color: #2c2d30;
  text-decoration: none;
  font-weight: 400;
}

header a:hover {
  text-decoration: none;
  color: #3a3b3f;
}

.nav-bar li {
  display: inline;
  letter-spacing: 0.025em;
  font-size: 1em;
  margin: 1%;
}

.mr-auto > li { /* Right side nav */
  padding: 0 10px;
}

.ml-auto > li { /* Left side nav */
  padding: 0 5px;
}

/* Nav-bar toggler */
#toggler-btn {
  outline: none; /* Remove blue outline on click */
}

.nav-icon {
  font-size: 1.8rem;
}