@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

body {
  background-color: white;
  color: #2c2d30;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}

.container { /* Horrizontal padding */
  margin: 0 auto;
}

.vertical-align {
  align-items: center; 
}

/* Headings */
h1 {
  font-weight: 900;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Buttons */
button.plain-button {
  color: white;
  padding: 0.5rem 1.0rem;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  transition: 250ms;
}

button:focus {
  outline:0;
}

button.green {
  background-color: #007a5a;
}

button.green:hover {
  background-color: #005e45;
}
