@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

body {
  background-color: white;
  color: #2c2d30;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}

/* Sections */
section {
  padding: 7rem 0;
}

section.landing {
  padding: 10rem 0;
}

section.grey {
  background-color: #fafafa;
}

section.green {
  background-color: #0b926a;
  background-image: url(../resources/texture-1.png);
  color: white;
}

/* Structure */
div.container {
  margin: 0 auto; /* left right padding */
}

div.vertical-align {
  align-items: center; 
}

div.divider {
  margin: 5rem;
}

div.center {
  text-align: center;
}

/* Headings */
h1 {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.sub-heading {
  margin-bottom: 4rem;
}

/* Buttons */
button.plain-btn {
  border-radius: 5px;
  border: none;
  color: white;
}

button.plain-btn:focus {
  outline: none;
}

button.sm {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1.0rem;
}

button.lg {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 1.25rem;
  letter-spacing: 0.03rem;
  padding: 1.0rem 1.5rem;
}

button.green {
  background-color: #008a65;
}

button.green:hover {
  background-color: #007757;
}


/* Lists */
ul.flashed-messages li {
  list-style-type: none;
}

/* Images */
img.img-lg {
  margin: auto;
  max-width: 100%;
}

img.img-md {
  margin: auto;
  max-width: 75%;
}

/* Animation */
.float-anim {
  -webkit-animation: action 2s infinite alternate;
  animation: action 2s infinite alternate;
}
  @-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
  @keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}