/* Structure */
.test-info {
  margin: 5rem 0 3rem;
}

div.question-box {
  border: 1px solid grey;
  padding: 1rem;
  margin: 1rem 0;
}

/* Button */
input.test-btn {
  background-color: #008a65;
  margin: 2.5rem 0 5rem 0;
}