/* Images */
img.thumbnail {
  margin: 4rem 0 2rem 0;
  height: 150px;
  width: 200px;
}

/* Structuring */
section.dashboard {
  background-color: #fafafa;
  padding: 2rem 0 7rem 0;
}

.dashboard-item p {
  margin: auto;
}

.dashboard-item button {
  margin: 2rem 0;
}

/* Containers */
.user-msg {
  max-width: 700px;
}

.stat {
  max-width: 600px;
  margin-top: 4rem;
}

.surveylist {
  border-bottom: black;
  margin-top: 5%;
}

#newtestcontainer {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

/*Previous Test Windows*/
.window {
  margin-top: 1%; 
  padding: 10px;
  border: solid thin black;
  border-radius: 1%;
  cursor: pointer;
}

.rightcontainer {
  margin-top: 2%;
  display: flex;
  justify-content: flex-end;
}

/*Start Test Buttons */
.test-links{
  text-decoration: none;
}
