/* Images */
img.thumbnail {
  margin: 4rem 0 2rem 0;
  height: 150px;
  width: 200px;
}

/* Structuring */
section.userprofile {
  background-color: #0b926a;
  background-image: url(../resources/texture-1.png);  
  color: white;
  padding: 9rem 0 0 0;
}

section.dashboard {
  background-color: #fafafa;
  padding: 0 0 10rem 0;
}

.dashboard-item p {
  margin: auto;
}

.dashboard-item button {
  margin: 2rem 0;
}

/* Waves */
.wave {
  margin: 5rem 0 -2rem 0;
  display: block;
  height: 15rem;
  width: 100%;
}

/* Containers */
.user-msg {
  max-width: 700px;
}

.stat {
  max-width: 600px;
  margin-top: 4rem;
}

.surveylist {
  border-bottom: black;
  margin-top: 5%;
}

#newtestcontainer {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

/*Previous Test Windows*/
.window {
  margin-top: 1%; 
  padding: 10px;
  border: solid thin black;
  border-radius: 1%;
  cursor: pointer;
}

.window:hover {
  background-color: lightgray;
}

.rightcontainer {
  margin-top: 2%;
  display: flex;
  justify-content: flex-end;
}

/*Start Test Buttons */
.test-links{
  text-decoration: none;
}





