{% extends "index.html" %}

{% block content %}

<div class=container>

  <h2 style="margin-top: 2rem;">{% if unit %}{{ unit }}{% else %}This is an example test.{% endif %}</h2>
  <p>Please <strong>do not</strong> click away or refresh this page while doing this test, as your answers may not be recorded. When you are finished, ensure that you
    submit your test, so that your results are saved. This test must be completed in one sitting.</p>
  
  <!-- To serialize a form, the inputs MUST be named. -->
  <form id="example-test-form">
    {% for question in questions %}
      <p><strong>{{ question.questionNumber }}</strong>. {{ question.prompt }}</p>
      {% if question.questionType == "multipleChoice" %}
        {% for option in question.totalOptions %}
          <input type="radio" name="q{{ question.questionNumber }}" value="{{ option }}"/>
          <label for="{{ option }}">{{option}}</label>
        {% endfor %}
      {% else %}
      <input type="text" name="{{ question.title }}" placeholder="Sample input" />
      {% endif %}
    {% endfor %}
    <input type="submit"  id="submit-example-test-form" />
  </form>

</div>

{% endblock content %}