{% extends "index.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/about.css">
<section>
  <div class="container">
    <div class="row vertical-align">
      <div class="col-md-7">
        <h2>About CITSPrep</h2>
        <p>CITSPrep is an assesment preparation website designed by 4 junior developers at the University of Western Australia. The project had its foundations as an assessment piece for a web development unit, but has since grown into the multi-faceted support network that we know and love today.</p>
      </div>
      <div class="col-md-5 d-none d-md-block">
        <img class="img-lg" src="../static/resources/about.svg" alt=""> 
      </div>
    </div>
  </div>
  <svg class="wave-bot" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
    <path fill="#fafafa" fill-opacity="1" d="M0,224L60,186.7C120,149,240,75,360,53.3C480,32,600,64,720,96C840,128,960,160,1080,144C1200,128,1320,64,1380,32L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</section>
<section class="about">
  <div class="container">
    <h2>Who are we?</h2>
    <p>The team behind CITSPrep consists of 4 remarkable developers.</p>
    <div class="row center">
      <div class="col-md-3">
        <div class="author">
          <img class="img-fluid author" src="../static/resources/authors/bruce.png" alt="Bruce">
          <h3>Bruce How</h3>
          <h5>aka. Bruce</h5>
          <p>A god amongst men when it comes to CSS</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="author">
          <img class="img-fluid author" src="../static/resources/authors/bryan.png" alt="Bryan">
          <h3>Bryan Yeo</h3>
          <h5>aka. DarkStorm</h5>
          <p>No such thing as a clean storm when it comes to Mr. Yeo </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="author">
          <img class="img-fluid author" src="../static/resources/authors/lachlan.png" alt="Lachlan">
          <h3>Lachlan D Whang</h3>
          <h5>aka. ForsakenIdol</h5>
          <p>Some say he drinks soup from water bottles becase there's only one true flask</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="author">
          <img class="img-fluid author" src="../static/resources/authors/paul.png" alt="Paul">
          <h3>Paul O'Sullivan</h3>
          <h5>aka. Shapester</h5>
          <p>pathetic scrub</p>
        </div>
      </div>
    </div> 
  </div>
</section>

{% endblock %}