{% extends "index.html" %}

{% block content %}
  <!-- <p>Text text text.</p>
  <p><em>More text!</em></p>
  <p>Hello, {{name}}!</p>

  {% if current_user.is_anonymous %}
  <p>You're not logged in!</p>
  {% else %}
  <a href="{{ url_for('logout') }}">Logout</a>
  {% endif %}
  -->

  <div class="container text-center">
    <h1 style="margin: 2rem 0 2rem 0;">About CITSPrep</h1>
    <p>CITSPrep is an assesment preparation website designed by 4 junior developers at the University of Western Australia. The project had its foundations as an assessment piece
      for a web development unit, but has since grown into the multi-faceted support network that we know and love today.
    </p>

    <h2>Who Are We?</h2>
    <p>The team behind CITSPrep consists of 4 remarkable developers.</p>
  </div>

{% endblock %}