{% extends "index.html" %}

{% block content %}
<section class="grey">
  <div class="container">
    <div class="row vertical-align">
      <div class="col-md-8">
        <h1>Previous Attempts</h1>
        {% if current_user.admin %}
        <p>View all previous test attempts and outcomes completed by students</p>
        {% else %} 
        <p>View all your previous test attempts and outcomes.</p>
        {% endif %}
      </div>
      <div class="col-md-4 d-none d-md-block">
        <img class="img-lg" src="../static/resources/prevattempts.svg" alt=""> 
      </div>
    </div>
  </div>
</section>
<section class="green">
  <!-- Load previous tests here -->
  <div class="container">
    {% if current_user.admin %}
    <div class="test-attempt-list">
      <div class="table-responsive-sm">
        <table class="table">
          <thead>
            <tr>
              <th>Unit</th>
              <th>Assessment Type</th>
              <th>Student</th>
              <th>Started</th>
              <th>Completed</th>
              <th>Score</th>
            </tr>
          </thead>
          <!-- for each here-->
          <tr>
            <td>CITS1401</td>
            <td>Exam</td>
            <td>Bruce</td>
            <td>01/05/2020 15:20</td>
            <td>01/05/2020 15:50</td>
            <td>16/25</td>
          </tr>
          <tr>
            <td>CITS1401</td>
            <td>Exam</td>
            <td>Bruce</td>
            <td>01/05/2020 15:20</td>
            <td>01/05/2020 15:50</td>
            <td>16/25</td>
          </tr>
          <!-- end for -->
        </table>
      </div>
    </div>
    {% else %} <!-- Student Template -->
      {% for attempt in userAttempts %}
      <div class="row">
        <div class="test-attempt">
          <div class="row">
            <div class="col-sm-8">
              <h3>{{ attempt.unitCode }}</h3>
              <p>Question Set: {{ attempt.questionset }}</p>
              <p>Completed: {{ attempt.time }}</p>
            </div>
            <div class="col-sm-4 text-right">
              <h2></h2>
              <p>Auto Mark: <strong>{{ attempt.autoMarksachieved}}/{{ attempt.availAutomarks}}</strong></p>
              <p>Open Answer Mark: <strong>{{ attempt.autoMarksachieved}}/{{ attempt.totalAvailmarks - attempt.availAutomarks}}</strong></p>
            </div>
          </div>
          <a class="contact-link" href="{{ url_for('feedback') }}">View Feedback</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}