{% extends "index.html" %}

{% block content %}
<section class="grey">
  <div class="container">
    <div class="row vertical-align">
      <div class="col-md-8">
        <h1>Previous Attempts</h1>
        <p>Sit back home, relax, and view all your previous test attempts and outcomes.</p>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <img class="img-lg" src="../static/resources/prevattempts.svg" alt=""> 
      </div>
    </div>
  </div>
</section>
<section class="green">
  <!-- Load previous tests here -->
  <div class="container">
    <!-- Template -->
    <div class="test-attempt">
      <div class="row">
        <div class="col-sm-6">
          <h3>CITS1401</h3>
          <p>Started: 1st April 2020 at 15:20</p>
          <p>Completed: 1st April 2020 at 15:45</p>
        </div>
        <div class="col-sm-6 text-right">
          <h2>16/25</h2>
        </div>
      </div>
    </div>
    <div class="test-attempt">
      <div class="row">
        <div class="col-sm-6">
          <h3>CITS1401</h3>
          <p>Started: 1st April 2020 at 15:20</p>
          <p>Completed: 1st April 2020 at 15:45</p>
        </div>
        <div class="col-sm-6 text-right">
          <h2>16/25</h2>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}