{% extends "login.html" %}

{% block content %}

<form class="login" method="POST" id="reset-password-form" novalidate>
  <h2>Reset password</h2>
  <h4>Enter your credentials below</h4>
  {{ resetPasswordForm.hidden_tag() }}

  <div class="field">
    {{ resetPasswordForm.email.label }}
    {{ resetPasswordForm.email(class="userInput", autofocus="on", placeholder="Email") }}
    {% for error in resetPasswordForm.email.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="field">
    {{ resetPasswordForm.currentPassword.label }}
    {{ resetPasswordForm.currentPassword(class="userInput", placeholder="Current Password") }}
    {% for error in resetPasswordForm.currentPassword.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="field">
    {{ resetPasswordForm.newPassword.label }}
    {{ resetPasswordForm.newPassword(class="userInput", placeholder="New Password") }}
    {% for error in resetPasswordForm.newPassword.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="field">
    {{ resetPasswordForm.repeatPassword.label }}
    {{ resetPasswordForm.repeatPassword(class="userInput", placeholder="Repeat New Password") }}
    {% for error in resetPasswordForm.repeatPassword.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="field">
    {{ resetPasswordForm.submit(class="form-btn") }}
  </div>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashed-messages>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}

{% endblock content %}