{% extends "login.html" %}

{% block content %}
<nav class="navbar-hidden navbar-expand-md">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('userprofile') }}">
        <span class="far fa-times-circle nav-back"></span>
      </a>
    </li>
  </ul>
</nav>

<form class="login" method="POST" id="reset-password-form" novalidate>
  <h2>Reset password</h2>
  <h4>Enter your credentials below</h4>
  {{ resetPasswordForm.hidden_tag() }}

  <div class="field">
    {{ resetPasswordForm.email.label }}
    {{ resetPasswordForm.email(class="userInput", autofocus="on", placeholder="Email") }}
    {% for error in resetPasswordForm.email.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="field">
    {{ resetPasswordForm.currentPassword.label }}
    {{ resetPasswordForm.currentPassword(class="userInput", placeholder="Current Password") }}
    {% for error in resetPasswordForm.currentPassword.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="field">
    {{ resetPasswordForm.newPassword.label }}
    {{ resetPasswordForm.newPassword(class="userInput", placeholder="New Password") }}
    {% for error in resetPasswordForm.newPassword.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="field">
    {{ resetPasswordForm.repeatPassword.label }}
    {{ resetPasswordForm.repeatPassword(class="userInput", placeholder="Repeat New Password") }}
    {% for error in resetPasswordForm.repeatPassword.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="field">
    {{ resetPasswordForm.submit(class="form-btn") }}
  </div>
</form>

{% endblock content %}