{% extends "index.html" %}

{% block content %}

<form name="submit-to-google-sheet" id="google-sheets-form">
    <label for="contact_name">Name</label>
    <input type="text" name="name" id="contact_name" placeholder="Name" required/>
    <br>
    <label for="contact_email">Email</label>
    <input type="text" name="email" id="contact_email" placeholder="something@example.com"/>
    <br>
    <label for="contact_message">Message</label>
    <input type="text" name="message" id="contact_message" placeholder="message" required/>
    <br>
    <button type="submit"id="submit-form">Submit</button>
</form>
<!-- The form javascript is imported on index.html -->
{% endblock %}