{% extends "index.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/test.css"/>
<section class="green">
  <div class="container">
    <div class="row vertical-align">
      <div class="col-md-8">
        <h1>Test Feedback</h1>
        <p>View feedback for your test answers</p>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <img class="img-lg" src="../static/resources/feedback.svg" alt=""> 
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Test Information</h3>
        <p>Unit Code: {{ content.unitCode }}</p>
        <p>Unit Name: {{ content.unitName }}</p>
        <p>Completed: {{ content.time }}</p>
        <p>Student: {{ content.user }}</p>
      </div>
      <div class="col-md-6">
        <h3>Marking Summary</h3>
        <p>Marking Status: {{ content.marked }}</p>
        <p>Automatic Mark: {{ content.autoMarksachieved }}/{{ content.availAutomarks }}</p>
        <p>Manual Mark: {{ content.manualMarksachieved }}/{{ content.totalAvailmarks - content.availAutomarks }}</p>
        <p>Overal Mark: {{ content.manualMarksachieved + content.autoMarksachieved }}/{{ content.totalAvailmarks }}</p>
      </div>
    </div>
    <div class="row">
      {% for i in range(content.incorrectAutoquestions|length) %}
      <div class="col-md-6">
        <div class="question-box">
          {{ content.incorrectAutoquestions[i] }}<br><br>
          <p><b>You answered:</b> {{ content.youAnswered[i] }}</p>
          <p><b>Correct answer:</b> {{ content.correctAnswers[i] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if current_user.admin %}
    <form id="mark-form" action="" method="POST">
      {{ form.hidden_tag() }}
    {% endif %}
      <div class="row">
        {% for i in range(content.requireManual|length) %}
        <div class="col-md-6">
          <div class="question-box">
            {{ content.requireManual[i] }}<br><br>
            <p><b>Student Answer:</b></p>
            <p>{{ content.manualAnswers[i] }}</p>
            {% if current_user.admin %}
            <p><b>Allocate Mark<br> {{ inputs[i](class="mark-input") }} / {{ content.availManualMarks[i] }}</b></p>
            {% for error in inputs[i].errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %} 
            {% else %}
            <p><b>Manual Mark</b><br>{{ content.manualMark[i] }}/{{ content.availManualMarks[i] }}</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% if current_user.admin %}
      <input type="submit" class="plain-btn lg test-btn" value="Update Marks"  id="submit-mark-form"/>
      {% endif %}
    </form>
  </div>
</section>
{% endblock %}