<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- Custom Stylesheets -->
  <link rel="stylesheet" href="../static/css/main.css"/>
  <link rel="stylesheet" href="../static/css/header.css">
  <title>Temp</title>
  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand md">
        <div class="container">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">CITSPrep</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Sign In</a></li>
            <li class="nav-item">
              <button class="plain-button green" onclick="window.location.href='/register';">Get Started</button>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      <!-- Get flashed messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      {% if welcome_string %}
      <p>{{ welcome_string }}</p>
      {% else %}
      <br>
      {% endif %}
      {% block content %}
      <!-- index.html-specific content goes here -->
      <div class="about-us">
        <div class="description">
          <h2>Who are we?</h2>
          <p>We're the leaders in unit preparation across every course in UWA. Join us today to experience the power of knowledge for yourself.</p>
          <button onclick="window.location.href='/about'" class="plain-button green">Learn More</button>
        </div>
      </div>
      {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
    <script src="../static/scripts/index.js"></script>
  </body>
</html>