<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/index.css"/>
    {% if site_title %}
    <title>{{ site_title }} | CITSPrep</title>
    {% else %}
    <title>Welcome to CITSPrep!</title>
    {% endif %}
    <body class="container">
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <hr>
        <main>
            {% if welcome_string %}
            <p>{{ welcome_string }}</p>
            {% else %}
            <p>No welcome string. Sad :(</p>
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
        <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
        <script src="../static/index.js"></script>
    </body>
</html>