<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- Custom Stylesheets -->
  <link rel="stylesheet" href="../static/css/main.css"/>
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/forms.css"/>

  {% if title %}
  <title>{{ title }} - CITSPrep</title>
  {% else %}
  <title>Welcome to CITSPrep!</title>
  {% endif %}

  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand md">
        <div class="container">
          <ul class="navbar-nav mr-auto">  <!-- Left side navbar -->
              <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">CITSPrep</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
              {% if current_user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('userhomepage') }}">My Profile</a></li>
              {% endif %}
          </ul>
          <ul class="navbar-nav ml-auto"> <!-- Right side navbar -->
            {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Sign In</a>
            </li>
            <li class="nav-item">
              <button class="plain-btn sm green" onclick="window.location.href='/register';">Register</button>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <!-- Get flashed messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashed-messages">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      {% if welcome_string %}
      <p>{{ welcome_string }}</p>
      {% else %}
      {% endif %}
      {% block content %}
      <!-- Landing/Home Section -->
      <section class="landing">
        <div class="container">
          <div class="row vertical-align">
            <div class="col-sm-6">
              <h1>Studying for exams has never been easier!</h1>
              <p>We are the leaders in unit preparation across many courses in UWA. Join us today to experience the power of knowledge for yourself.</p>
              <button class="plain-btn lg green" onclick="window.location.href='/register'">Get Started</button>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
              <img class="img-lg float-anim" src="../static/resources/landing.svg" alt=""> 
            </div>
          </div>
        </div>
      </section>
      <!-- About Section -->
      </section>
      <section class="green">
        <div class="container">
          <div class="row vertical-align">
            <div class="col-sm-6">
              <h2>Get customised feedback</h2>
              <p>Our team of experienced markers and tutors will personally review every question you answer to make sure that the results you get are totally accurate and the feedback you receive is of the highest standard.</p>
            </div>
            <div class="col-sm-6">
              <img class="img-md float-anim" src="../static/resources/feedback.svg" alt=""> 
            </div>
          </div>
          <div class="divider"></div>
          <div class="row vertical-align">
            <div class="col-sm-6">
              <img class="img-md float-anim" src="../static/resources/learn.svg" alt=""> 
            </div>
            <div class="col-sm-6">
              <h2>Learn from your mistakes</h2>
              <p>Work through practise questions in a system which builds on your strengths and weaknesses, tailoring each individual test to the topics which you prefer to focus on the most. Review tests you've previously taken to understand your weak points.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="grey"> 
        <div class="container">
          <h2 class="sub-heading">What you can expect..</h2>
          <div class="row">
            <div class="col-sm-4">
              <h3>Efficiency</h3>
              <p>Expect results from the day you start your preparation with us. See tangible improvements across all supported topics and feel confident that your education is in the right hands.</p>
            </div>
            <div class="col-sm-4">
              <h3>Accessibily</h3>
              <p>With a wide range of features to tailor to your needs, you will never find learning with us a chore. Set your personal study goals and work towards them in your own time.</p>
            </div>
            <div class="col-sm-4">
              <i class="fas fa-chess-queen"></i>
              <h3>Interactivity</h3>
              <p>This site is modern, responsive, and maintained by a small group of dedicated designers willing to put interactivity at your fingertips. Find out more by contacting us today.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Contact Section -->
      <section>
        <div class="container">
          <div class="row vertical-align">
            <div class="col-sm-7">
              <h2>Contact us</h2>
              <p>Want to learn more about CITSPrep? Got a question for our backend team? Looking for individual 1-on-1 support from our professional mentors and tutors? Feel free to message us, and find out just how easy learning can be.</p>
            </div>
            <div class="col-sm-5">
              <img class="img-lg" src="../static/resources/contact.svg" alt=""> 
            </div>
          </div>
        </div>
      </section>
      {% endblock %}
    </main>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="../static/scripts/index.js"></script>
  </body>
</html>