{% extends "index.html" %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" novalidate>
    {{ loginForm.hidden_tag() }}
    <p>
      {{ loginForm.username.label }}<br>
      {{ loginForm.username(size=32) }}
      {% for error in loginForm.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ loginForm.password.label }}<br>
      {{ loginForm.password(size=32) }}
      {% for error in loginForm.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ loginForm.remember_me() }} {{ loginForm.remember_me.label }}</p>
    <p>{{ loginForm.submit() }}</p>
  </form>
  <p>New user? <a class="alternate-login" href="/register">Sign Up</a></p>
{% endblock %}