<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/main.css"/>
    <title>Welcome to CITSPrep!</title>
    <body>
        <section>
            <header>
                <h1>
                    <span>CITSPrep</span>
                    <p>The leading education resource.</p>
                </h1>
                <hr class="col-4">
                <ul>
                    <li><a href="/index">Index</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </header>
        </section>
    </body>
</html>