{% extends "index.html" %}

{% block content %}
<section class="grey">
  <div class="container">
    <div class="row vertical-align">
      <div class="col-md-8">
        <h1>Mark Completed Tests</h1>
        <p>Manually mark open and short answer tests and add customised feedback</p>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <img class="img-lg" src="../static/resources/marktest.svg" alt=""> 
      </div>
    </div>
  </div>
</section>
<section class="green">
  <div class="container">
    <div class="test-attempt-list">
      <div class="table-responsive-sm">
        <table class="table">
          <thead>
            <tr>
              <th>Unit Code</th>
              <th>Student</th>
              <th>Auto Mark</th>
              <th>Manual Mark</th>
              <th>Total Mark</th>
              <th>Completed</th>
              <th>Status</th>
            </tr>
          </thead>
          {% for test in markTests %}
          <tr>
            <td>{{ test.unitCode }}</td>
            <td>{{ test.user }}</td>
            <td>{{ test.autoMarksachieved }}/{{ test.availAutomarks }}</td>
            <td>{{ test.manualMarksachieved }}/{{ test.totalAvailmarks - test.availAutomarks}}</td>
            <td>{{ test.autoMarksachieved + test.manualMarksachieved }}/{{ test.totalAvailmarks }}</td>
            <td>{{ test.time }}</td>
            <td><button onclick="window.location.href='/feedback/{{ test.id }}'" class="remove-user">Mark Test</button></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}