{% extends "index.html" %}

{% block content %}

<div class=container>

    <div id=greeting>
      <h2>Practice Test! - CITS1401</h1>
      <p>Remember to take your time! Goodluck!</p>
    </div>

        <div id=newtestcontainer>
          <h3 class=h3-underline> Begin Quiz</h3>
        </div>
      
      <form>
        <div id=listcontainer>      
            
            <div class=window>

                  <p>1. Describe the anchor tag in HTML5</p>

                  <label for="fname"> Answer </label>
                  <input type="text">

              </div>

            <div class=window>

                  <p>2. Describe the anchor tag in HTML5</p>

                  <label for="fname"> Answer </label>
                  <input type="text">
                
            </div>
            
            <div class=window>
            
                  <p>3. Describe the anchor tag in HTML5</p>
            
                  <label for="fname"> Answer </label>
                  <input type="text">
            
            </div>
        </div>
          
        <div class=rightcontainer>
          <input type="submit" class="green sm " value="Submit">
        </div>
      </form>
    
    </div>
    

    {% endblock %}