{% extends "index.html" %}

{% block content %}

<div class=container>
    <div id=greeting>
      <h2>Practice Test! - CITS1401</h1>
      <p>Remember to take your time! Goodluck!</p>
    </div>

    <div class=surveylist>

        <div id=newtestcontainer>
          <h3 class=h3-underline> Begin Quiz</h3>
        </div>
      
        <div id=listcontainer>      
            
            <div class=window>

                <div class="leftwindow">
                  <p>1.</p>
                </div>

                <div class="rightcontainer">  

                  <div class=rightwindow>
                    <button class="sm">Save Answer</button>
                  </div>
               
                </div>

            </div>
            <div class=window>

                <div class="leftwindow">
                  <p>2.</p>
                </div>

                <div class="rightcontainer">  
                  
                    <div class=rightwindow>
                    <button class="sm">Save Answer</button>
                  </div>
                
                </div>
            </div>
            
            <div class=window>
            
                <div class="leftwindow">
                  <p>3.</p>
                </div>
            
                <div class="rightcontainer">  
            
                    <div class=rightwindow>
                    <button class="sm">Save Answer</button>
                  </div>
            
                </div>
            
            </div>
        
        </div>
        <div class=rightcontainer>
            <button class="plain-btn green sm">Submit</button>
        </div>
    
    </div>
    
    <!-- Temp -->
    <section>
      <div class="container">
        <div class="stat"> <!-- Statistics TEMP -->
          <div class="row"> 
            <div class="col-md-3">
              <h2>24</h2>
              <p>Tests</p>
            </div>
            <div class="col-md-3">
              <h2>21</h2>
              <p>Passed</p>
            </div>
            <div class="col-md-3">
              <h2>3</h2>
              <p>Failed</p>
            </div>
            <div class="col-md-3">
              <h2>79%</h2>
              <p>Average Mark</p>
            </div>
          </div>
        </div>
        <div class="surveylist">
          <div id="newtestcontainer">
            <h3> Previous Attempts</h3>
          </div>
          <div id="listcontainer">      
            <div class="window">
                <div class="leftwindow">
                  <h5>CITS1401</h5>
                  <h6> Started: 7.20pm 1st April 2020 </h6>
                  <h6>Completed: 7.25pm 1st April 2020</h6>
                </div>
                <div class="rightcontainer">  
                  <div class="rightwindow">
                    <p>Score: 15/20</p>
                  </div>
                </div>
              </div>
              <div class="window">
                <div class="leftwindow">
                  <h5>CITS3002</h5>
                  <h6> Started: 7.20pm 25th March 2020 </h6>
                  <h6>Completed: 7.25pm 25th March 2020</h6>
                </div>
                <div class="rightcontainer">
                  <div class="rightwindow">
                    <p>Score: 10/20</p>
                  </div>
                </div>
              </div>
              <div class="window">
                <div class="leftwindow">
                  <h5>CITS3403</h5>
                  <h6> Started: 7.20pm 20th March 2020 </h6>
                  <h6>Completed: 7.25pm 20th March 2020</h6>
                </div>
                <div class="rightcontainer">  
                  <div class="rightwindow">
                    <p>Score: 15/20</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    {% endblock %}