{% extends "index.html" %}

{% block content %}
  <h1>Create an account</h1>
  <form action="" method="post" novalidate>
    {{ registerForm.hidden_tag() }}
    <p>
        {{ registerForm.username.label }}<br>
        {{ registerForm.username(size=32) }}
    </p>
    <p>
        {{ registerForm.email.label }}<br>
        {{ registerForm.email(size=32) }}
    </p>
    <p>
        {{ registerForm.password.label }}<br>
        {{ registerForm.password(size=32) }}
    </p>
    <p>{{ registerForm.submit() }}</p>
  </form>
  <p>Returning user? <a class="alternate-login" href="{{ url_for('login') }}">Sign In</a></p>
{% endblock %}