{% extends "login.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/test.css"/>
<div class="container">
  <div class="test-info">
    <h2>{% if unit %}{{ unit }}{% else %}This is an example test.{% endif %}</h2>
    <p>Please <strong>do not</strong> click away or refresh this page while doing this test, as your answers may not be recorded. When you are finished, ensure that you
      submit your test, so that your results are saved.</p>
    <p><strong>This test must be completed in one sitting.</strong></p>
  </div>
  <!-- To serialize a form, the inputs MUST be named. -->
  <form action="{{ url_for('submit') }}" method="POST" id="unit-test-form">
    <input type="text" name="questionset" value="{{ questionset }}" readonly hidden>
    {% for question in questions %}
      <div class="question-box">
        <p><strong>{{ question.questionNumber }}</strong>. {{ question.prompt }}</p>
        {% if question.image %}
        <image src="{{ question.image }}" class="question-image" alt="" />
        <br>
        {% endif %}
        {% if question.questionType == "multipleChoice" %}
          {% for option in question.totalOptions %}
            <input id="{{ option }}" type="radio" name="q{{ question.questionNumber }}" value="{{ option }}"/>
            <label for="{{ option }}">{{ option }}</label>
            <br>
          {% endfor %}
        {% elif question.questionType == "number" %}
        <input type="number" name="q{{ question.questionNumber }}" placeholder="Number" />
        {% elif question.questionType == "shortAnswer" %}
        <input type="text" name="q{{ question.questionNumber }}" placeholder="Short Answer" />
        {% elif question.questionType == "fileUpload" %}
        <label for="test-file-upload" class="file-upload-btn" ><strong>Upload a file here...</strong> <span id="name-of-file"></span></label>
        <input type="file" name="q{{ question.questionNumber }}" class="file-upload-btn" id="test-file-upload" />
        {% else %}
        <textarea class="test-input" name="q{{ question.questionNumber }}" placeholder="Sample input" ></textarea>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" class="plain-btn lg test-btn" value="Submit Test"  id="submit-unit-test-form" />
  </form>
</div>

{% endblock content %}