{% extends "index.html" %}

{% block content %}

<section class="userprofile">
  <div class="container">
    <h1>Welcome back, {{ current_user.username }}!</h1>
    <p>Welcome to your user dashboard! Here you'll be able to see the results of past tests, if you've taken any, as well as start a new test</p>
  </div>
  <div class="wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fafafa" fill-opacity="1" d="M0,224L30,224C60,224,120,224,180,202.7C240,181,300,139,360,144C420,149,480,203,540,192C600,181,660,107,720,101.3C780,96,840,160,900,186.7C960,213,1020,203,1080,186.7C1140,171,1200,149,1260,144C1320,139,1380,149,1410,154.7L1440,160L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
  </div>
</section>
<section class="dashboard">
  <div class="container">
    <h2>Student Dashboard</h2>
    <div class="row center">
      <div class="col-md-4">
        <img class="thumbnail" src="../static/resources/newtest.svg" alt=""> 
        <h3>Start a new test</h3>
        <p>Lorem ipsum dolor, sit amet consectetur.</p>
        <button class="plain-btn sm green" onclick="window.location.href='/testform'">Start New Test</button>
      </div>
      <div class="col-md-4">
        <img class="thumbnail" src="../static/resources/prevtest.svg" alt=""> 
        <h3>View previous attempts</h3>
        <p>Lorem ipsum dolor, sit amet consectetur.</p>
        <button class="plain-btn sm green" onclick="window.location.href='/testform'">View Pevious Tests</button>
      </div>
      <div class="col-md-4">
        <img class="thumbnail" src="../static/resources/prevtest.svg" alt=""> 
        <h3>View previous attempts</h3>
        <p>Lorem ipsum dolor, sit amet consectetur.</p>
        <button class="plain-btn sm green" onclick="window.location.href='/testform'">View Pevious Tests</button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="surveylist">
      <div id="newtestcontainer">
        <h3> Previous Attempts</h3>
      </div>
      <div id="listcontainer">      
        <div class="window">
            <div class="leftwindow">
              <h5>CITS1401</h5>
              <h6> Started: 7.20pm 1st April 2020 </h6>
              <h6>Completed: 7.25pm 1st April 2020</h6>
            </div>
            <div class="rightcontainer">  
              <div class="rightwindow">
                <p>Score: 15/20</p>
              </div>
            </div>
          </div>
          <div class="window">
            <div class="leftwindow">
              <h5>CITS3002</h5>
              <h6> Started: 7.20pm 25th March 2020 </h6>
              <h6>Completed: 7.25pm 25th March 2020</h6>
            </div>
            <div class="rightcontainer">
              <div class="rightwindow">
                <p>Score: 10/20</p>
              </div>
            </div>
          </div>
          <div class="window">
            <div class="leftwindow">
              <h5>CITS3403</h5>
              <h6> Started: 7.20pm 20th March 2020 </h6>
              <h6>Completed: 7.25pm 20th March 2020</h6>
            </div>
            <div class="rightcontainer">  
              <div class="rightwindow">
                <p>Score: 15/20</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if current_user.admin %}
    <p>You are an admin! Hurray!</p>
    {% else %}
    <p>You are not an admin. Unlucky.</p>
    {% endif %}
  </div>
</section>

{% endblock %}